<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD48072PEFMbeW-LjDPdaRLU3oHh-WOmrI</string>
	<key>GCM_SENDER_ID</key>
	<string>733034944341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.udayjain.instaclonev1</string>
	<key>PROJECT_ID</key>
	<string>v1-instaclone-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>v1-instaclone-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733034944341:ios:8f4afa619b113a0baac1dc</string>
</dict>
</plist>